/*--------------------------------GENERAL STYLES-------------------------------*/
body {
  margin: 0;
  background-color: white;
  padding-top: 50px;
}

ul, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

/********************************************************************/
/*-------------------Navbar styles----------------------------****/
/********************************************************************/
.navbar, .navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}

.navbar {
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2)
}

.navbar-nav {
  text-align: center;
  margin: 0 -15px;
}

.nav > li > a {
  padding: 25px 25px;
}

.navbar-default .navbar-toggle {
  border-color: white;
}

.navbar-default .navbar-toggle:hover {
  border-color: #fd5d1d;
  background-color: white;
  color: white;
}

.navbar-default .navbar-toggle:active {
  background-color: white;
}

.navbar-default .navbar-toggle:focus {
  background-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: orangered;
}

.navbar-default {
  background-image: none;
  background-color: white;
}

.navbar-header img {
    height: 50px;
    margin-top: 10px;
}

.navbar .navbar-nav>li>a {
    color: orangered;
    font-size: 1.5em;
    text-shadow: none;
    font-family: "Calibri Light", "DejaVu Sans", Arial, sans-serif;
}

.navbar .navbar-nav > li > a:focus, .navbar .navbar-nav > li > a:hover {
  background-color: #fd5d1d;
  color: white;
}

@media screen and (max-width: 768px) {
  .navbar-header img {
    margin-top: 5px;
  }
}
@media screen and (max-width: 300px) {
    .navbar-header img {
        height: 30px;
        margin-top: 10px;
    }
}

/********************************************************************/
/*-------------------Section 1 styles----------------------------****/
/********************************************************************/

.picture1 {
  background: url("graphics/go_out_gdansk_4.jpg") no-repeat center top;
  background-size: cover;
  /*background-attachment: fixed;*/

}

.push-bg-down {
  padding-bottom: 10%;
}

.intro {
  color: white;
  text-shadow: 0 0 15px #3A3E40;
  font-size: 8vw;
  text-align: center;
  padding-top: 13%;
  font-family: Ubuntu, "DejaVu Sans", Arial, sans-serif;
}

.intro-male {
    margin-top: 18px;
    position: relative;
    color:white;
    font-size: 2.7vw;
    text-shadow: 3px 3px 5px #3A3E40;
    /*box-shadow: 1px 1px 5px #3A3E40;*/
  /*background-color:rgba(255, 255, 255, 0.2);*/
    text-align: center;
    font-family: Ubuntu, "DejaVu Sans", Arial, sans-serif;
}
.intro-male span {
  display:block;
  padding-top: 10px;
  font-size: 3vw;
}

.button {
  background-color: #FF6D32;
  color: white;
  font-size: 2.2vw;
  border-radius: 15px;
  padding: 2% 3%;
  font-family: Ubuntu, "DejaVu Sans", Arial, sans-serif;
  text-decoration: none;
}

.button:after {
  content: "";
  padding-bottom: 100px;
  height: 10px;
}

.button:hover {
  background-color: #fd5d1d;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 3px #3A3E40;
}

.button-container {
  text-align: center;
  padding-top: 50px;
}

@media screen and ( max-width: 600px) {
  .intro {
    font-size: 3em;
    padding-top: 12%;
  }

  .intro-male {
    font-size: 1.5em;
  }

  .intro-male span {
    font-size: 1.2em;
  }

  .button {
    font-size: 1.3em;
  }
}

/********************************************************************/
/*-------------------Section 2 styles----------------------------****/
/********************************************************************/
#two {
  padding-top: 30px;
}
#two h1 {
    font-family: Ubuntu, "DejaVu Sans", Arial, sans-serif;
    padding: 60px 0 20px;
    margin:auto;
    text-align: center;
    font-weight: bold;
    line-height: 1.4em;
  font-size: 2.3vw;
}

#twoMob h1 {
    font-family: Ubuntu, "DejaVu Sans", Arial, sans-serif;
    padding: 40px 0 20px;
    margin:auto;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    line-height: 1.3em;
}

.function_main, .function-summary-txt {
  font-family: "Calibri Light", "DejaVu Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
}
.function-summary-txt h3{
    padding:0 50px;
}

.function-summary-txt p{
    padding:0 40px;
}

.function {
  box-shadow: 6px 10px 54px -30px rgba(0, 0, 0, 0.75);
  text-align: center;
  margin: 5% 0 0 0;
  min-height: 320px;
}
.function p{
  padding: 0 45px 0;
}
@media screen and (max-width: 992px){
    .function{
        font-family: "Calibri Light", "DejaVu Sans", Arial, sans-serif;
        min-height: 1px; /*<<--return to bootstrap default*/
        max-width: 550px;
        margin: auto;
        padding: 2px 16px 12px  ;
    }
    .material-icons{
        padding: 26px 0 0;
    }

}
/*/++++++++++++++++*ANIMATIONS*++++++++++++++++++++/*/
@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.5);}
    100% {transform: scale(1);}
}
.function .i-first:hover{
    animation-name: pulse;
    animation-duration: 0.6s;
    animation-iteration-count: 2;
}

@keyframes move {
    0% {transform: translate(0,0); opacity: 0.2;}
    30% {transform: translate(0,20px); opacity: 0.2;}
    100% {transform: translate(0,-80px); opacity: 0;}
}
.function .i-second:hover{
    animation-name: move;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.function .i-three{
    transition: 1.5s;
}
.function .i-three:hover{
    transform: rotateZ(720deg);
    transform-origin: left bottom;
}

/*/++++++++++++END--------OF++++*ANIMATIONS*++++++++++++++++++++/*/

.function h3 {
    padding: 10px 0;
    /*font-weight: bold;*/
}

.function p {
  margin-bottom: 16px;
}

.function-summary {
  background-color: #f6f6f6;
  padding: 0;
}

.function-summary-img {
  padding: 0;
}

.function-summary-img > img {
  width: 100%;
}

.function-summary-txt {
  margin: 40px 0 0;
}
.function-summary h3{
    padding-bottom: 2%;
    /*font-weight: bold;*/
  text-align: center;
}
.function-summary-txt p{
text-align: justify;
}

@media screen and (max-width: 1200px) {
    .function-summary-txt {
        margin: 25px 0 0;
    }
    .function-summary h3 {
        margin-top: 10px;
     }
    .function-summary-txt {
        font-size: 1.1em;
    }
}
@media screen and (max-width: 992px) {
    .function-summary-txt p{
        font-size: 0.9em;
    }
}

@media screen and (max-width: 768px) {
    .function-summary h3 {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .function-summary-txt {
        margin: 0 0 40px;
        font-size: 1.2em;
    }
}

/*********************************************************/
/*          Style section two  -END                      */
/*********************************************************/

/********************************************************************/
/*              Section 3 styles                                  ****/
/********************************************************************/

#three h1 {
  text-align: center;
  font-size: 45px;
  font-family: "Calibri Light", "DejaVu Sans", Arial, sans-serif;
  font-weight: bold;
  padding-top: 8%;
  padding-bottom: 5%;
}

.img-thumbnail {
    padding: 8px;
    transition: 1s ease-in-out;
}
.person {
    margin-bottom: 30px;
}

.person h3.person-name {
  text-align: center;
  font-family: "Calibri Light", "DejaVu Sans", Arial, sans-serif;
  font-size: 1.8em;
  /*font-weight: bold;*/
  line-height: 1.6em;
  margin-top: 14px;
}

.person p.person-bio {
  font-family: "Calibri Light", "DejaVu Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.6em;
}

.three-icons {
  margin: 45% auto;
}
.three-icons a {
    margin: 0 6px;
    text-decoration: none;
}
/*---------------------animated photos-----------------------------*/

.person-img-container {
    position: relative;
    border-radius: 50%;
    max-width:260px;
    max-height:260px;
    text-align: center;
    margin:0 auto;
  }
.back {
    background: url('graphics/zapisz_congruent.png');
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    transition: transform 0.6s ease-in-out;
    backface-visibility: hidden;
    /*text-align: center;*/
}
.front {
    text-align: center;
    transition: transform 0.6s ease-in-out;
    backface-visibility: hidden;
}

.person-img-container:hover .front{
    transform: rotateY(180deg);
}
.person-img-container:hover .back{
     transform: rotateY(0deg);
 }
/*---------------------END OF animated photos-----------------------------*/

@media screen and ( max-width: 768px) {
  .person {
    margin-bottom: 5%;
  }
    /*.back {*/
        /*width:50%;*/
    /*}*/
}


/********************************************************************/
/*-------------------Section 4 styles----------------------------****/
/********************************************************************/

#four {
  font-family: "Calibri Light", "DejaVu Sans", Arial, sans-serif;
  margin-top: 40px;
  padding-bottom: 100px;
  padding-top: 120px;
  background: url('graphics/zapisz_geometry.png');
}

#four h1 {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 40px;
}

.four-form {
  text-align: center;
  font-size: 25px;
  padding-top: 25px;
}

.checkbox label {
  font-size: 16px;
  line-height: 1.6em;
}

input[type="email"] {
  margin: 40px 2%;
  padding: 10px;
  border: 1px solid #fd5d1d;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  font-size: 35px;
  font-family: "Calibri Light", "DejaVu Sans", Arial, sans-serif;
  text-align: center;
}

input[type="submit"] {
  height: 75px;
  width: 220px;
  background-color: #fd5d1d;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  font-family: Ubuntu, "DejaVu Sans", Arial, sans-serif;
  color: white;
}

.four-submit {
  text-align: center;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  input[type="email"] {
    font-size: 24px;
    margin: 14px 2%;
  }

  input[type="submit"] {
    height: 40px;
    width: 120px;
    font-size: 16px;
  }

  .checkbox label {
    font-size: 12px;
    line-height: 1.4em;
  }
}

/********************************************************************/
/*--------------------Footer----------------------------****/
/********************************************************************/

footer {
  background-color: #333333;
  color: white;
  text-align: center;
  font-size: 18px;
  font-family: Ubuntu, "DejaVu Sans", Arial, sans-serif;
  padding: 1.6em 0;
}

#footer h3 {
  text-align: left;
  margin-bottom: 0.8em;
}

#footer ul,#footer p {
  text-align: left;
}
.footer-lists {
  /*margin-left: 18%;*/
}

#footer li {
  list-style-type: none;
  line-height: 1.6em;
  font-size: 14px;

}

#footer a {
  color: white;
  text-decoration: none;
}

#footer a:hover {
  border-bottom: 1px solid #fd5d1d;
}

#footer img {
  height: 17px;
  vertical-align: sub;
}

@media screen and (max-width: 768px) {
  footer {
    padding-top: 0;
  }

  #footer h3 {
    margin: 0.7em 0 0.4em;
  }

  .footer-lists {
    padding-left: 40%;
    padding-right: 40%;
    margin: auto;
    text-align: center;
  }
}


/*8888888888888888888888888888888888888888888888888888888888*/
/*--------------wodotryski----------------------------------*/
/*8888888888888888888888888888888888888888888888888888888888*/

/*buzzout animation on fourth icon*/
@keyframes hvr-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0deg);
        transform: translateX(1px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0deg);
        transform: translateX(-1px) rotate(0deg);
    }
}
.hvr-buzz-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}
.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
    -webkit-animation-name: hvr-buzz-out;
    animation-name: hvr-buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
